<div class="my-comment">
  <div class="comment-bio">
      <div class='comment-header'>
        <p class='title'><%= @post.title %> by <%= @user.name %></p>
        <div class='comment-details'>
            <p>Comments: <%= @post.comments.size %></p>
            <p>Likes: <%= @post.likes.size %></p>
        </div>
      </div>
      <p class="comment-text"><%= @post.text%></p>
  </div>
  <div class="comments">
      <div class="comment-item">
        <% @post.comments.each do |comment|%>
            <p><%= comment.author.name %> <%= comment.text %></p>
        <% end %>
      </div>
    </div>
</div>