<div class="my-comment">
  <div class="comment-bio">
      <div class='comment-header'>
        <p class='title'><%= @post.title %> by <%= @user.name %></p>
        <div class='comment-details'>
            <p>Comments: <%= @post.comments.size %></p>
            <p>Likes: <%= @post.likes.size %></p>
        </div>
      </div>
      <p class="comment-text"><%= @post.text%></p>
  </div>
  <div class="comments">
      <div class="comment-item">
        <% @post.comments.each do |comment|%>
            <p><%= comment.author.name %> <%= comment.text %></p>
        <% end %>
      </div>
  </div>
  <div class='post-feature'>
    <%= form_with model: @like, url: like_path, method: :post do |f| %>
        <%= f.submit "Like post", class: "like-post" %>
    <% end %>
    <%= form_with model: @comment, url: post_path, method: :post, scope: :comment do |f| %>
      <div class="comment-section">
        <%= f.text_area :text, placeholder: "Add Comment", class: "comment" %>
        <%= f.submit "Comment", class: "submit-comment" %>
      </div>
    <% end %>
  </div>
</div>